@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans/open-sans.eot");
  src: url("../fonts/opensans/open-sans.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/open-sans.woff2") format("woff2"), url("../fonts/opensans/open-sans.woff") format("woff"), url("../fonts/opensans/open-sans.ttf") format("truetype"), url("../fonts/opensans/open-sans.svg#open_sansregular") format("svg"); }

* {
  outline: none !important; }

body {
  font-family: OpenSans, sans-serif;
  background-color: #f3f3f3; }

h1, h2, h3 {
  color: #7f8c8c; }

p {
  color: #777777; }

a {
  color: #ffffff; }
  a:hover {
    text-decoration: none; }

nav.navbar {
  border: 0;
  background: #76c7c0 url(../img/top_line.png) bottom left repeat-x;
  margin: 0;
  height: 80px;
  -webkit-border-radius: 0;
          border-radius: 0; }
  nav.navbar h1 {
    float: left;
    margin: 0; }
    nav.navbar h1 a.navbar-brand {
      color: #ffffff;
      font-size: 25px;
      padding-top: 0;
      margin-top: 30px;
      font-weight: 400; }
      nav.navbar h1 a.navbar-brand:hover {
        color: #ffffff; }
    nav.navbar h1 span {
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase; }
  nav.navbar ul.navbar-nav li a {
    line-height: 16px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 9px;
    padding-bottom: 8px;
    margin: 22px 2px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }
  nav.navbar ul.navbar-nav li.active a, nav.navbar ul.navbar-nav li.active a:hover, nav.navbar ul.navbar-nav li.active a:focus {
    color: #ffffff;
    background-color: #52b8af;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 3px 0 #3e9991;
            box-shadow: 0 3px 0 #3e9991;
    font-size: 14px; }
  nav.navbar ul.navbar-nav a:hover, nav.navbar ul.navbar-nav a:focus, nav.navbar ul.navbar-nav a:active {
    color: #ffffff;
    background-color: #52b8af;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 3px 0 #3e9991;
            box-shadow: 0 3px 0 #3e9991;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }
  nav.navbar ul.navbar-nav li.dropdown i {
    font-size: 14px;
    padding-right: 8px; }
  nav.navbar ul.navbar-nav li.dropdown a:active, nav.navbar ul.navbar-nav li.dropdown a:focus {
    color: #ffffff;
    background-color: #e96259;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 3px 0 #c2241a;
            box-shadow: 0 3px 0 #c2241a; }
  nav.navbar ul.navbar-nav li.dropdown ul.dropdown-menu {
    background-color: #e3372c;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    left: 0;
    right: auto;
    padding-top: 0;
    padding-bottom: 0; }
    nav.navbar ul.navbar-nav li.dropdown ul.dropdown-menu li a {
      margin: 5px;
      background-color: #e96259;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      padding-left: 15px; }
      nav.navbar ul.navbar-nav li.dropdown ul.dropdown-menu li a:hover {
        background-color: #52b8af;
        -webkit-box-shadow: none;
                box-shadow: none; }
      nav.navbar ul.navbar-nav li.dropdown ul.dropdown-menu li a i {
        font-size: 14px;
        padding-right: 7px; }

#slider {
  padding: 0; }
  #slider img {
    width: 100%; }
  #slider .carousel-indicators {
    position: static;
    margin-top: 21px;
    margin-left: 0;
    width: 100%;
    font-size: 0;
    margin-bottom: 0; }
    #slider .carousel-indicators li {
      width: 60px;
      height: 5px;
      -webkit-border-radius: 0;
              border-radius: 0;
      background-color: #b0b8b9;
      margin-left: 10px; }
    #slider .carousel-indicators li.active {
      background-color: #e96259;
      margin-top: 1px;
      margin-bottom: 1px; }
  #slider .carousel-caption {
    left: 0;
    bottom: 200px; }
    #slider .carousel-caption h2 {
      color: #ffffff;
      background-color: #e96259;
      font-size: 50px;
      font-weight: 700;
      line-height: 60px;
      text-transform: uppercase;
      width: 345px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      margin-left: 46%; }
    #slider .carousel-caption p {
      font-size: 16px;
      font-weight: 400;
      line-height: 26px;
      color: #ffffff;
      background-color: #3F4646;
      width: 470px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      margin-left: 40%; }
  #slider .carousel-control {
    display: block;
    top: 220px;
    width: 50px;
    height: 57px;
    background-color: #e96259;
    -webkit-box-shadow: 0 3px 0 #e3372c;
            box-shadow: 0 3px 0 #e3372c;
    opacity: 1;
    background-image: none;
    font-size: 40px;
    font-weight: 400;
    line-height: 5px;
    padding-top: 7px; }
  #slider .left {
    -webkit-border-top-right-radius: 5px;
            border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
            border-bottom-right-radius: 5px; }
  #slider .right {
    -webkit-border-top-left-radius: 5px;
            border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
            border-bottom-left-radius: 5px; }

#intro {
  background-color: #ececec;
  margin-top: 24px;
  height: 100px; }
  #intro #int1 {
    padding-right: 0; }
  #intro h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    margin-left: 13px;
    margin-bottom: 0; }
  #intro p {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 13px; }
  #intro button {
    width: 200px;
    height: 50px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    color: #ffffff;
    border: 0;
    background-color: #76c7c0;
    -webkit-box-shadow: 0 3px 0 #3e9991;
            box-shadow: 0 3px 0 #3e9991;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 24px 35px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    #intro button:hover {
      background-color: #e96259;
      -webkit-box-shadow: 0 3px 0 #c2241a;
              box-shadow: 0 3px 0 #c2241a;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease; }

#services .serv {
  height: 310px;
  width: 270px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  background-color: #f8f8f8;
  text-align: center;
  margin-right: 30px;
  -webkit-box-shadow: 0 3px 0 #e5e6e6;
          box-shadow: 0 3px 0 #e5e6e6;
  margin-top: 50px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease; }
  #services .serv:hover {
    background-color: #ffffff;
    cursor: pointer;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease; }
    #services .serv:hover i {
      color: #e96259;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease; }
    #services .serv:hover button {
      background-color: #e96259;
      -webkit-box-shadow: 0 3px 0 #c2241a;
              box-shadow: 0 3px 0 #c2241a;
      -webkit-transition: all 0.25s ease;
      transition: all 0.25s ease; }
  #services .serv:last-child {
    margin-right: 0; }
  #services .serv i {
    margin-top: 48px;
    font-size: 60px;
    color: #76c7c0; }
  #services .serv h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px; }
  #services .serv p {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px; }
  #services .serv button {
    width: 200px;
    height: 50px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    color: #ffffff;
    border: 0;
    background-color: #76c7c0;
    -webkit-box-shadow: 0 3px 0 #3e9991;
            box-shadow: 0 3px 0 #3e9991;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    position: absolute;
    bottom: -25px;
    left: 35px; }

#slider2 {
  max-height: 400px;
  background: #ececec url(../img/mdl-line.png) top left repeat-x;
  margin-top: 74px;
  text-align: center; }
  #slider2 h1 {
    margin-top: 53px;
    color: #e1524b;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: uppercase; }
  #slider2 p {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 60px; }

#testim {
  margin-top: 213px; }
  #testim #sec_left h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-top: 0; }
  #testim #sec_left ul {
    padding-left: 0;
    padding-top: 22px; }
    #testim #sec_left ul li {
      list-style-image: url(../img/arrow.png);
      list-style-position: inside;
      font-size: 13px;
      font-weight: 400;
      line-height: 26px; }
  #testim #sec_mdl {
    position: relative; }
    #testim #sec_mdl p {
      font-size: 13px;
      font-weight: 400;
      line-height: 25px; }
      #testim #sec_mdl p span {
        color: #e1524b;
        text-decoration: underline; }
    #testim #sec_mdl h3 {
      float: left;
      margin-top: 125px;
      font-size: 16px;
      font-weight: 700;
      line-height: 19px;
      text-transform: uppercase;
      margin-left: 5px;
      padding-right: 45px; }
    #testim #sec_mdl img {
      position: absolute;
      top: 105px; }
    #testim #sec_mdl #img70 {
      margin-left: 135px; }
    #testim #sec_mdl #img80 {
      margin-left: 270px; }
    #testim #sec_mdl #img100 {
      margin-left: 400px; }
  #testim #sec_right h1 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-top: 0; }
  #testim #sec_right img {
    position: absolute;
    z-index: -1;
    margin-top: 23px; }
  #testim #sec_right p {
    float: left;
    font-size: 13px;
    line-height: 25px;
    font-style: italic;
    font-weight: 400;
    text-align: left;
    padding-left: 7px;
    padding-top: 7px;
    margin-top: 23px;
    margin-bottom: 15px; }
  #testim #sec_right span {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: #777777;
    margin-left: 59px; }

#clients {
  margin-top: 55px; }
  #clients #cln {
    padding-right: 0; }
  #clients h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-top: 8px;
    margin-bottom: 51px; }
  #clients #line {
    padding: 0;
    margin-top: 8px; }
  #clients #cln_btn {
    padding-right: 0; }
  #clients button {
    width: 38px;
    height: 37px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    color: #ffffff;
    border: none;
    background-color: #99A4A4;
    -webkit-box-shadow: 0 3px 0 #7e8c8c;
            box-shadow: 0 3px 0 #7e8c8c;
    margin-left: 1px; }
    #clients button:hover {
      background-color: #e96259;
      -webkit-box-shadow: 0 3px 0 #c2241a;
              box-shadow: 0 3px 0 #c2241a; }

footer #footer_top {
  margin-top: 50px;
  background: #76c7c0 url(../img/line_footer.png) top left repeat-x;
  min-height: 350px; }

footer #ftr1 {
  margin-top: 30px; }
  footer #ftr1 h1 {
    padding-bottom: 15px; }
    footer #ftr1 h1 a {
      color: #ffffff;
      font-size: 25px;
      font-weight: 400; }
      footer #ftr1 h1 a:hover {
        color: #ffffff; }
      footer #ftr1 h1 a span {
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase; }
  footer #ftr1 p {
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px; }
    footer #ftr1 p:hover a {
      color: #3B6360; }
    footer #ftr1 p span {
      font-size: 20px;
      font-weight: 600;
      font-style: italic;
      line-height: 36px; }

footer .ftr2 {
  margin-top: 45px; }
  footer .ftr2 h1 {
    color: #3B6360;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 17px; }
  footer .ftr2 ul li {
    list-style-image: url(../img/arr.png);
    font-size: 13px;
    font-weight: 400;
    line-height: 23px; }
    footer .ftr2 ul li:hover a {
      color: #3B6360; }

footer #ftr3 {
  margin-top: 45px; }
  footer #ftr3 h1 {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700; }
    footer #ftr3 h1 span {
      font-style: italic; }
  footer #ftr3 .testim_img img {
    position: absolute; }
  footer #ftr3 .testim_img p {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
    width: 242px;
    height: 32px;
    margin-left: 100px; }
    footer #ftr3 .testim_img p:hover a {
      color: #3B6360; }
  footer #ftr3 .testim_img time {
    color: #000000;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 100px; }
  footer #ftr3 #bot_img {
    margin-top: 20px; }

footer #footer_bot {
  background-color: #52b8af;
  min-height: 50px; }
  footer #footer_bot p {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    line-height: 50px;
    margin-bottom: 0; }
  footer #footer_bot #social {
    line-height: 50px; }
    footer #footer_bot #social #social-fb {
      font-size: 25px; }
      footer #footer_bot #social #social-fb:hover {
        color: #3B6360; }
    footer #footer_bot #social #social-ggl {
      font-size: 25px;
      margin-left: 25px; }
      footer #footer_bot #social #social-ggl:hover {
        color: #3B6360; }
    footer #footer_bot #social #social-tw {
      font-size: 25px;
      margin-left: 19px; }
      footer #footer_bot #social #social-tw:hover {
        color: #3B6360; }
    footer #footer_bot #social #social-rss {
      font-size: 25px;
      margin-left: 20px; }
      footer #footer_bot #social #social-rss:hover {
        color: #3B6360; }
