@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/opensans/open-sans.eot");
  src: url("../fonts/opensans/open-sans.eot?#iefix") format("embedded-opentype"), url("../fonts/opensans/open-sans.woff2") format("woff2"), url("../fonts/opensans/open-sans.woff") format("woff"), url("../fonts/opensans/open-sans.ttf") format("truetype"), url("../fonts/opensans/open-sans.svg#open_sansregular") format("svg"); }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: OpenSans, sans-serif; }

a {
  color: #ffffff; }
