@font-face {
    font-family: 'truenobold';
    src: url('../fonts/truenobd-webfont.eot');
    src: url('../fonts/truenobd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/truenobd-webfont.woff2') format('woff2'),
         url('../fonts/truenobd-webfont.woff') format('woff'),
         url('../fonts/truenobd-webfont.ttf') format('truetype'),
         url('../fonts/truenobd-webfont.svg#truenobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenolight';
    src: url('../fonts/truenolt-webfont.eot');
    src: url('../fonts/truenolt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/truenolt-webfont.woff2') format('woff2'),
         url('../fonts/truenolt-webfont.woff') format('woff'),
         url('../fonts/truenolt-webfont.ttf') format('truetype'),
         url('../fonts/truenolt-webfont.svg#truenolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'truenoultrablack';
    src: url('../fonts/truenoultblk-webfont.eot');
    src: url('../fonts/truenoultblk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/truenoultblk-webfont.woff2') format('woff2'),
         url('../fonts/truenoultblk-webfont.woff') format('woff'),
         url('../fonts/truenoultblk-webfont.ttf') format('truetype'),
         url('../fonts/truenoultblk-webfont.svg#truenoultrablack') format('svg');
    font-weight: normal;
    font-style: normal;
}