@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/OpenSansRegular.eot');
    src: url('fonts/OpenSansRegular.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSansRegular.woff') format('woff'),
         url('fonts/OpenSansRegular.ttf') format('truetype');        
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('fonts/OpenSansSemiBold.eot');
    src: url('fonts/OpenSansSemiBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSansSemiBold.woff') format('woff'),
         url('fonts/OpenSansSemiBold.ttf') format('truetype');        
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('fonts/OpenSansBold.eot');
    src: url('fonts/OpenSansBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSansBold.woff') format('woff'),
         url('fonts/OpenSansBold.ttf') format('truetype');        
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('fonts/OpenSansExtraBold.eot');
    src: url('fonts/OpenSansExtraBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSansExtraBold.woff') format('woff'),
         url('fonts/OpenSansExtraBold.ttf') format('truetype');        
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSansItalic';
    src: url('fonts/OpenSansItalic.eot');
    src: url('fonts/OpenSansItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSansItalic.woff') format('woff'),
         url('fonts/OpenSansItalic.ttf') format('truetype');        
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSansSemiBoldItalic';
    src: url('fonts/OpenSansSemiBoldItalic.eot');
    src: url('fonts/OpenSansSemiBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSansSemiBoldItalic.woff') format('woff'),
         url('fonts/OpenSansSemiBoldItalic.ttf') format('truetype');        
    font-style: normal;
    font-weight: normal;
}