@import "vars";
@import "fonts";

// COMMON STYLES

body {
    font-family: 'truenolight', sans-serif;
    line-height: 26px;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: 0;
    margin: 0;
}
ul, li {
    list-style-type: none;
}
a {
    color: #fff;
    &:hover, &:focus, &:visited {
        text-decoration: none;
        color: #fff;
    }
}
section {
    position: relative;
    margin-bottom: 20px;
}

//NAVBAR
//TOP MENU
#paddin {
    padding-left: 0;
}
#top_bg_color {
    background-color: $brown;
    height: 50px;
    font-size: 13px;
}
.top_nav_left {
    ul {
        li {
            display: inline-block;
            line-height: 50px;
            padding: 0 20px;
            &:hover {
                background-color: $pink;
                cursor: pointer;
            }
        }
    }
}
.floa_right {
    float: right;
}
.top_nav_right {
    line-height: 50px;
    float: right;
    img {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: 35px;
    }
    .price {
        color: #fff;
    }
    .quantity {
        color: #dcc5b8;
        margin-right: 21px;
    }
    #borde-left {
        border-left: 1px solid #593938;
    }
    p {
        display: inline-block;
        padding: 0 20px;
        &:hover {
            background-color: $pink;
            cursor: pointer;
        }
    }
}

// LOGO

nav.navbar-default {
    background-color: $brownlight;
    border: none;
    border-radius: 0;
    height: 76px;
    position: relative;
    margin-bottom: 0;
    h1 {
        a.navbar-brand {
            position: absolute;
            padding: 0 20px;
            top: 50%;
            margin-top: -16px;
        }
    }
// MAIN MENU    
    .navbar-nav {
        li, li.active {
            a {
                background-color: transparent;
                color: #fff;
                padding-bottom: 24px;
                &:hover, &:active, &:focus {
                    color: $pink;
                    border-bottom: 4px solid $pink;
                    background-color: transparent;
                }
            }
        }
    }
}
.nav_links_top {
    margin-top: 13px;
}
// SLIDER
#slider {
    height: 600px;
    background-color: #F0EFEE;
    position: relative;
    margin-bottom: 50px;
    img {
        position: absolute;
        top: -41px;
        left: -374px;
    }
    .price-slider {
        margin-top: 133px;
        font-size: 30px;
        color: $brownlight;
    }
    h2 {
        margin-top: 18px;
        font-family: 'truenoultrablack';
        font-size: 70px;
        color: $brownlight;
    }
    .variants {
        margin-top: 24px;
        font-family: 'truenoultrablack';
        font-size: 50px;
        color: $pink;
    }
    .disc {
        margin-top: 36px;
        color: #8a8784;
    }
    a {
        display: inline-block;
        margin-top: 34px;
        padding: 15px 47px;
        background-color: $pink;
        font-family: 'truenobold';
        text-transform: uppercase;
        position: relative;
        top: 0px;
        left: 0px;
        transition: all 300ms;
        &:hover {
            box-shadow: 2px 2px 0px white, 4px 4px 0px $pink;
            top: -4px;
            left: -4px;
            transition: all 300ms;
        }
        &:active {
            top: 4px;
            left: 4px;
            box-shadow: 0px 0px 0px lighten($pink, 30%);
        }
    }
}
//INTRO
#arrival-left {
    text-align: center;
    font-size: 30px;
    padding-left: 0;
    background: url('../img/intro/nike-kyrie-logo.png') 38px 23px no-repeat;
    img {
        position: absolute;
        z-index: -1;
        display: block;
    }
    p {
        color: #fff;
        margin: 44px 0 10px 0;
    }
    h3 {
        color: #4bd8cd;
        font-family: 'truenobold';
        text-transform: uppercase;
        margin-bottom: 337px;
    }
    .myButt {
        outline: none;
        border: none;
        padding: 14px 26px;
        font-size: 16px;
        background-color: #4bd8cd;
        position: relative;
        transition: all 0.5s ease;
        a {
            color: #000;
            text-transform: uppercase;
            font-family: 'truenobold';
        }
    }
    .one {
        overflow: hidden;
        color: #000;
        .insider {
            background-color: #fff;
            width: 100%;
            height: 20px;
            position: absolute;
            left: -163px;
            transform: rotateZ(45deg);
        }
        &:hover  {
            background-color: darken(#4bd8cd, 20%);
            .insider {
                transition: all 0.3s ease;
                left:156px;
            }
        }
    }
}
#arrival-right-top {
    .wrap {
        height: 255px;
        font-size: 30px;
        background-color: $pink;  
        position: relative;
        margin-bottom: 30px;
        img {
            position: absolute;
            top: -22px;
            left: -11px;
        }
    }
    .wrap_2 {
        margin-left: 150px;
        text-align: center;
        font-size: 30px;
        color: #fff;
        p {
            padding-top: 59px;
        }
        h3 {
            font-family: 'truenobold';
            text-transform: uppercase;
            font-size: 30px;
            padding-top: 9px;
            padding-bottom: 20px;
        }
        .myButt2 {
            outline: none;
            border: none;
            padding: 14px 30px;
            font-size: 16px;
            background-color: $brownlight;
            position: relative;
            transition: all 0.5s ease;
            a {
                text-transform: uppercase;
                font-family: 'truenobold';
            }
        }
        .two {
            overflow: hidden;
            color: #000;
            .insider {
                background-color: #fff;
                width: 100%;
                height: 20px;
                position: absolute;
                left: -163px;
                transform: rotateZ(45deg);
            }
            &:hover  {
                background-color: darken($brownlight, 5%);
                .insider {
                    transition: all 0.3s ease;
                    left:156px;
                }
            }
        }
    }
}
.wrap_3 {
    height: 255px;
    background-color: #2d2f2e;
    position: relative;
    img {
        position: absolute;
        width: 100%;
        max-width: 255px;
    }
    p {
        position: relative;
        color: #fff;
        text-align: center;
        font-size: 30px;
        padding-top: 146px;
    }
    h3 {
        position: relative;
        color: #fff;
        text-align: center;
        padding-top: 8px;
        font-size: 30px;
        text-transform: uppercase;
        font-family: 'truenobold';
        a {
            color: $pink;
        }
    }
}
.wrap_4 {
    height: 255px;
    background-color: #CECECE;
    position: relative;
    img {
        position: absolute;
        width: 100%;
        max-width: 255px;
        bottom: 0;
    }
    p {
        position: relative;
        text-align: center;
        font-size: 30px;
        padding-top: 34px;
        a {
            color: #6b7072;
        }
    }
    h3 {
        position: relative;
        color: #fff;
        text-align: center;
        padding-top: 8px;
        font-size: 30px;
        text-transform: uppercase;
        font-family: 'truenobold';
    }
}



