@import "vars";
@import "fonts";

// COMMON STYLES

body {
    font-family: 'truenolight', sans-serif;
    line-height: 26px;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    padding: 0;
    margin: 0;
}
ul, li {
    list-style-type: none;
}
a {
    color: #fff;
    &:hover, &:focus, &:visited {
        text-decoration: none;
        color: #fff;
    }
}
section {
    position: relative;
    margin-bottom: 20px;
}
//BUTTON
.my_btn {
    outline: none;
    border: none;
    padding: 14px 30px;
    font-size: 16px;
    background-color: $brownlight;
    position: relative;
    transition: all 0.5s ease;
    a {
        text-transform: uppercase;
        font-family: 'truenobold';
    }
}
.one {
    overflow: hidden;
    color: #000;
    .insider {
        background-color: #fff;
        width: 100%;
        height: 20px;
        position: absolute;
        left: -163px;
        transform: rotateZ(45deg);
    }
    &:hover  {
        background-color: darken($brownlight, 5%);
        .insider {
            transition: all 0.3s ease;
            left:156px;
        }
    }
}

//NAVBAR
//TOP MENU
#paddin {
    padding-left: 0;
}
#top_bg_color {
    background-color: $brown;
    height: 50px;
    font-size: 13px;
}
.top_nav_left {
    ul {
        li {
            display: inline-block;
            line-height: 50px;
            padding: 0 20px;
            transition: all 0.3s ease;
            &:hover {
                background-color: $pink;
                cursor: pointer;
                transition: all 0.3s ease;
            }
        }
    }
}
.floa_right {
    float: right;
}
.top_nav_right {
    line-height: 50px;
    float: right;
    img {
        position: absolute;
        top: 50%;
        margin-top: -10px;
        left: 35px;
        &:hover {
            cursor: pointer;
        }
    }
    .price {
        color: #fff;
    }
    .quantity {
        color: #dcc5b8;
        margin-right: 21px;
    }
    #borde-left {
        border-left: 1px solid #593938;
    }
    p {
        display: inline-block;
        padding: 0 20px;
        transition: all 0.3s ease;
        &:hover {
            background-color: $pink;
            cursor: pointer;
            transition: all 0.3s ease;
        }
    }
}

// LOGO

nav.navbar-default {
    background-color: $brownlight;
    border: none;
    border-radius: 0;
    height: 76px;
    position: relative;
    margin-bottom: 0;
    h1 {
        a.navbar-brand {
            position: absolute;
            padding: 0 20px;
            top: 50%;
            margin-top: -16px;
        }
    }
// MAIN MENU    
    .navbar-nav {
        li, li.active {
            a {
                background-color: transparent;
                color: #fff;
                padding-bottom: 0;
                &::after {
                    content: '';
                    display: block;
                    height: 4px;
                    background-color: $pink;
                    margin-top: 24px;
                    width: 0%;
                    transition: all ease-in-out 250ms;
                }
                &:hover, &:active, &:focus {
                    color: $pink;
                    background-color: transparent;
                }
                &:hover::after, &:focus::after {
                    width: 100%;
                }
            }
        }
    }
}
.nav_links_top {
    margin-top: 13px;
}
// SLIDER
#slider {
    height: 600px;
    background-color: #F0EFEE;
    position: relative;
    margin-bottom: 50px;
    img {
        position: absolute;
        top: -41px;
        left: -374px;
    }
    .price-slider {
        margin-top: 133px;
        font-size: 30px;
        color: $brownlight;
    }
    h2 {
        margin-top: 18px;
        font-family: 'truenoultrablack';
        font-size: 70px;
        color: $brownlight;
    }
    .variants {
        margin-top: 24px;
        font-family: 'truenoultrablack';
        font-size: 50px;
        color: $pink;
    }
    .disc {
        margin-top: 36px;
        color: #8a8784;
    }
    a {
        display: inline-block;
        margin-top: 34px;
        padding: 15px 47px;
        background-color: $pink;
        font-family: 'truenobold';
        text-transform: uppercase;
        position: relative;
        top: 0px;
        left: 0px;
        transition: all 300ms;
        &:hover {
            box-shadow: 2px 2px 0px white, 4px 4px 0px $pink;
            top: -4px;
            left: -4px;
            transition: all 300ms;
        }
        &:active {
            top: 4px;
            left: 4px;
            box-shadow: 0px 0px 0px lighten($pink, 30%);
        }
    }
}
//INTRO
#arrival-left {
    text-align: center;
    font-size: 30px;
    background: url('../img/intro/nike-kyrie-logo.png') 38px 23px no-repeat;
    img {
        position: absolute;
        z-index: -1;
        display: block;
    }
    p {
        color: #fff;
        margin: 44px 0 10px 0;
    }
    h3 {
        color: #4bd8cd;
        font-family: 'truenobold';
        text-transform: uppercase;
        margin-bottom: 337px;
    }
    .my_btn {
        background-color: #4bd8cd;
        a {
            color: #000;
        }
    }
    .one:hover {
        background-color: darken(#4bd8cd, 20%);
    }
}
#arrival-right-top {
    .wrap {
        height: 255px;
        font-size: 30px;
        background-color: $pink;  
        position: relative;
        margin-bottom: 30px;
        img {
            position: absolute;
            top: -22px;
            left: -11px;
        }
    }
    .wrap_2 {
        margin-left: 150px;
        text-align: center;
        font-size: 30px;
        color: #fff;
        p {
            padding-top: 59px;
        }
        h3 {
            font-family: 'truenobold';
            text-transform: uppercase;
            font-size: 30px;
            padding-top: 9px;
            padding-bottom: 20px;
        }
    }
}
.wrap_3 {
    height: 255px;
    background-color: #2d2f2e;
    overflow: hidden;
    transition: all 0.2s ease;
    &:hover {
            transform: scale(1.1);
            transition: all 0.2s ease;
        }
    img {
        position: absolute;
        width: 100%;
        max-width: 255px;
    }
    p {
        position: relative;
        color: #fff;
        text-align: center;
        font-size: 30px;
        padding-top: 146px;
    }
    h3 {
        position: relative;
        color: #fff;
        text-align: center;
        padding-top: 8px;
        font-size: 30px;
        text-transform: uppercase;
        font-family: 'truenobold';
        a {
            color: $pink;
        }
    }
}
.wrap_4 {
    height: 255px;
    background-color: #CECECE;
    position: relative;
    margin-bottom: 100px;
    transition: all 0.2s ease;
    &:hover {
            transform: scale(1.1);
            transition: all 0.2s ease;
        }
    img {
        position: absolute;
        width: 100%;
        max-width: 255px;
        bottom: 0;
    }
    p {
        position: relative;
        text-align: center;
        font-size: 30px;
        padding-top: 34px;
        a {
            color: #6b7072;
        }
    }
    h3 {
        position: relative;
        color: #fff;
        text-align: center;
        padding-top: 8px;
        font-size: 30px;
        text-transform: uppercase;
        font-family: 'truenobold';
    }
}
//PRODUCTS
#categories {
    text-align: center;
    margin-bottom: 50px;
    a {
        font-size: 30px;
        text-transform: uppercase;
        color: #bdb9b5;
        padding: 0 15px;
        &.active, &:active, &:focus, {
            color: #623232;
            font-family: 'truenobold';
            padding: 0 14px;
        }
        &:hover {
            color: $pink;
        }
    }
}
.wrap-products {
    height: 350px;
    border: 1px solid #e0dfde;
    position: relative;
    margin-bottom: 83px;
    transition: all .15s ease-in-out;
    &:hover {
        box-shadow: rgba(0,0,0,0.15) 0 6px 20px;
        top: -3px;
        transition: all .15s ease-in-out;
    }
    .discount {
        position: absolute;
        right: 0;
        top: 25px;
        color: #fff;
        font-family: 'truenobold';
        padding: 2px 10px;
        background-color: $pink;
        z-index: 10;
    }
    .products {
        height: 200px;
        width: 200px;
        position: relative;
        margin: 28px auto 0 auto;
        cursor: pointer;
        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
        }
        .prod-price {
            color: #8a8784;
            font-size: 24px;
        }
        #prod-price {
            color: $pink;
        }
        .old-price {
            color: #8a8784;
            text-decoration: line-through;
        }
    }
    .descr {
        position: absolute;
        left: 29px;
        bottom: 23px;
        .head {
            font-family: 'truenobold';
            color: #8a8784;
            cursor: pointer;
        }
        .model {
            color: #8a8784;
            text-transform: capitalize;
            cursor: pointer;
        }
        .article {
            color: #bdb9b5;
            font-size: 13px;
        }
    }
}
//BRAND-CAROUSEL
#owl {
    margin-bottom: 100px;
    .mid {
        text-align: center;
        height: 68px;
        position: relative;
    }
    img {
        width: inherit;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .owl-prev, .owl-next {
        position: absolute;
        top: 20px;
        font-size: 50px;
        color: #ccc;
        top: 50%;
        transform: translateY(-50%);
    }
    .owl-prev {
        left: 15px;
    }
    .owl-next {
        right: 15px;
    }
}
//TESTIMONIALS
#testimonials-wrap {
    margin: 0 auto 102px auto;
    background: url("../img/testimonials/testimonials_bg.jpg") center bottom no-repeat;
    background-size: cover;
    padding: 0;
    #testimonials_bg {
        height: 570px;
        background-color: rgba(72,36,35,0.9);
    }
    #testimonials-top {
        height: 261px;
        text-align: center;
        font-family: 'truenobold';
        .user-profile {
            display: inline-block;
            margin-top: 102px;
            padding: 0 15px;
            p {
                margin-top: 20px;
            }
            p.non-active a {
                color: #A99898;
            }
            p.active a {
                color: #fff;
            }
        }
    }
    #testimonials-bot {
        height: 200px;
        background-color: rgba(255,255,255,0.1);
        padding: 47px 52px;
        text-align: center;
        margin-top: 20px;
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            border-style: solid;
            border-width: 0 20px 20px 20px;
            border-color: transparent transparent rgba(255,255,255,0.1) transparent;
        }
        p {
            color: #fff;
        }
    }
}
//LATEST NEWS
#latest-news {
    text-align: center;
    margin-bottom: 100px;
    h2 {
        margin-bottom: 50px;
        a {
            font-size: 30px;
            text-transform: uppercase;
            color: #623232;
            font-family: 'truenobold';
        }
    }
    .wrap_news {
        height: 350px;
        background-color: #472424;
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            height: 350px;
            left: -117px;
            top: 0;
            opacity: 0.5;
        }
        .desc-news {
            position: absolute;
            color: #fff;
            text-align: left;
            bottom: 30px;
            left: 30px;
            time {
                font-family: 'truenobold';
            }
            span {
                color: #ff7373;
                font-size: 13px;
                display: block;
                margin-left: 27px;
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    left: 0;
                    bottom: 0;
                    background: url("../img/icon/comment.png") 0 0 no-repeat;
                }
            }
        }
    }
}
//ORDER
#order {
    height: 200px;
    background-color: $pink;
    margin-bottom: 0;
    h1 {
        font-family: 'truenobold';
        font-size: 30px;
        text-transform: uppercase;
        margin: 73px 0 5px 90px;
        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 60px;
            height: 42px;
            left: 15px;
            bottom: 10px;
            cursor: pointer;
            background: url("../img/icon/letter.png") 0 0 no-repeat;
        }
    }
    p {
        color: #fff;
        margin-left: 90px;
    }
    .my_btn {
        float: right;
        margin-top: 76px;
    }
}
//FOOTER
footer {
    height: 731px;
    background-color: $brownlight;
    .foot-top {
        text-align: center;
        margin-top: 50px;
        padding-bottom: 45px;
        border-bottom: 1px solid #7A504F;
        p {
            color: #fff;
            margin-top: 27px;
        }
        .last-img {
            margin-bottom: 11px;
        }
    }
    .foot-hov {
        transition: all 0.3s ease;
        &:hover {
            border-left: 1px solid #7A504F;
            border-right: 1px solid #7A504F;
            transition: all 0.3s ease;
            a {
                color: $pink;
                transition: all 0.3s ease;
            }
        }
    }
    .foot-mid {
        padding: 100px 0 100px 0;
        border-bottom: 1px solid #7A504F;
        .personal-data-icon {
            height: 55px;
            width: 55px;
            background-color: $pink;
            margin-bottom: 20px;
            position: relative;
            float: left;
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
        .personal-data {
            padding-bottom: 25px;
            margin-left: 75px;
            h3 {
                font-family: 'truenobold';
                font-size: 16px;
                color: $pink;
                text-transform: uppercase;
                margin-bottom: 4px;
                padding-top: 7px;
            }
            p {
                color: #fff;
                &:hover a {
                    text-decoration: underline;
                }
            }
        }
        .foot-menu {
            h3 {
                margin-bottom: 10px;
                a {
                    font-family: 'truenobold';
                    font-size: 16px;
                    color: $pink;
                    text-transform: uppercase;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            li {
                margin-bottom: 11px;
                transition: all 0.2s ease;
                a {
                    transition: all 0.2s ease;
                    &:hover {
                        text-shadow: 1px 1px 0 rgba(255,255,255,1) , -1px -1px 0 rgba(255,255,255,1) , 1px -1px 0 rgba(255,255,255,1) , -1px 1px 0 rgba(255,255,255,1) , 4px 4px 8px rgba(226,226,226,1) , -4px 4px 8px rgba(222,223,224,1) , 4px -4px 8px rgba(221,221,221,1) , -4px -4px 8px rgba(216,216,216,1);
                        transition: all 0.2s ease;
                    }
                }
            }
        }
    }
    .foot-bot {
        h1 a {
            padding-top: 23px;
        }
        p {
            color: #fff;
            line-height: 78px;
            text-align: center;
        }
        .fa {
            font-size: 25px;
            float: right;
            margin-left: 25px;
            line-height: 78px;
            transition: all 0.2s ease;
            &:hover {
                text-shadow: 1px 1px 0 rgba(255,81,136,1) , -1px -1px 0 rgba(255,89,152,1) , 1px -1px 0 rgba(244,88,142,1) , -1px 1px 0 rgba(255,79,164,1) , 4px 4px 8px rgba(255,68,127,1) , -4px 4px 8px rgba(249,19,127,1) , 4px -4px 8px rgba(252,45,100,1) , -4px -4px 8px rgba(255,28,84,1);
                transition: all 0.2s ease;
            }
        }
    }
}


