@import "vars";
@import "fonts";
    
* {
    box-sizing: border-box;
    outline: none!important;
}

body {
    font-family: OpenSans, sans-serif;
}

a {
    color: $white;
        &:hover {
            text-decoration: none;
    }
}

//NAVBAR MAIN

nav.navbar {
    border: 0;
    background-color: $blue;
    margin: 0;
    height: 80px;
    border-radius: 0;   
    
    //LOGO
    h1 {
        float: left;
        margin: 0;
        
        a.navbar-brand {
            color: $white;
            font-size: 25px;
            padding-top: 0;
            margin-top: 30px;
            font-weight: 400;
        
            &:hover {
                color: $white;
            }
        }
        span {
            font-size: 30px;
            font-weight: 700;
            text-transform: uppercase;                                 
        }
    }
    //MENU   
    ul.navbar-nav {        
        li a {
            line-height: 16px;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            color: $white;
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 22px 2px;            
        }
        li.dropdown {
            a:hover, a:focus, a:active, a:visited {
                color: $white;
                background-color: $red;
                border-radius: 5px;
                box-shadow: 0 3px 0 darken($red, 20%);
                
            }
            ul.dropdown-menu {
                background-color: darken($red, 10%);                
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                left: 0;
                right: auto;
                padding-top: 0;
                padding-bottom: 0;
                
                li a {
                    margin: 5px;
                    background-color: $red;
                }
            }
        }
        li.active, {
            a, a:hover, a:focus {
                color: $white;
                background-color: darken($blue, 10%);
                border-radius: 5px;
                box-shadow: 0 3px 0 darken($blue, 20%);
            }
        }
        a:hover, a:focus, a:active {
            color: $white;
            background-color: darken($blue, 10%);            
            border-radius: 5px;
            box-shadow: 0 3px 0 darken($blue, 20%);
        }      
    }   
}
// SLIDER
.container-fluid {
    padding: 0;
    img {
       width: 100%; 
    }    
}