@font-face {
  font-family: 'truenobold';
  src: url("../fonts/truenobd-webfont.eot");
  src: url("../fonts/truenobd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/truenobd-webfont.woff2") format("woff2"), url("../fonts/truenobd-webfont.woff") format("woff"), url("../fonts/truenobd-webfont.ttf") format("truetype"), url("../fonts/truenobd-webfont.svg#truenobold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'truenolight';
  src: url("../fonts/truenolt-webfont.eot");
  src: url("../fonts/truenolt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/truenolt-webfont.woff2") format("woff2"), url("../fonts/truenolt-webfont.woff") format("woff"), url("../fonts/truenolt-webfont.ttf") format("truetype"), url("../fonts/truenolt-webfont.svg#truenolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'truenoultrablack';
  src: url("../fonts/truenoultblk-webfont.eot");
  src: url("../fonts/truenoultblk-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/truenoultblk-webfont.woff2") format("woff2"), url("../fonts/truenoultblk-webfont.woff") format("woff"), url("../fonts/truenoultblk-webfont.ttf") format("truetype"), url("../fonts/truenoultblk-webfont.svg#truenoultrablack") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'truenolight', sans-serif;
  line-height: 26px;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: 0;
  margin: 0; }

ul, li {
  list-style-type: none; }

a {
  color: #fff; }
  a:hover, a:focus, a:visited {
    text-decoration: none;
    color: #fff; }

section {
  position: relative;
  margin-bottom: 20px; }

#paddin {
  padding-left: 0; }

#top_bg_color {
  background-color: #482423;
  height: 50px;
  font-size: 13px; }

.top_nav_left ul li {
  display: inline-block;
  line-height: 50px;
  padding: 0 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .top_nav_left ul li:hover {
    background-color: #ff7270;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.floa_right {
  float: right; }

.top_nav_right {
  line-height: 50px;
  float: right; }
  .top_nav_right img {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    left: 35px; }
  .top_nav_right .price {
    color: #fff; }
  .top_nav_right .quantity {
    color: #dcc5b8;
    margin-right: 21px; }
  .top_nav_right #borde-left {
    border-left: 1px solid #593938; }
  .top_nav_right p {
    display: inline-block;
    padding: 0 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .top_nav_right p:hover {
      background-color: #ff7270;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }

nav.navbar-default {
  background-color: #633231;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  height: 76px;
  position: relative;
  margin-bottom: 0; }
  nav.navbar-default h1 a.navbar-brand {
    position: absolute;
    padding: 0 20px;
    top: 50%;
    margin-top: -16px; }
  nav.navbar-default .navbar-nav li a, nav.navbar-default .navbar-nav li.active a {
    background-color: transparent;
    color: #fff;
    padding-bottom: 0; }
    nav.navbar-default .navbar-nav li a::after, nav.navbar-default .navbar-nav li.active a::after {
      content: '';
      display: block;
      height: 4px;
      background-color: #ff7270;
      margin-top: 24px;
      width: 0%;
      -webkit-transition: all ease-in-out 250ms;
      transition: all ease-in-out 250ms; }
    nav.navbar-default .navbar-nav li a:hover, nav.navbar-default .navbar-nav li a:active, nav.navbar-default .navbar-nav li a:focus, nav.navbar-default .navbar-nav li.active a:hover, nav.navbar-default .navbar-nav li.active a:active, nav.navbar-default .navbar-nav li.active a:focus {
      color: #ff7270;
      background-color: transparent; }
    nav.navbar-default .navbar-nav li a:hover::after, nav.navbar-default .navbar-nav li a:focus::after, nav.navbar-default .navbar-nav li.active a:hover::after, nav.navbar-default .navbar-nav li.active a:focus::after {
      width: 100%; }

.nav_links_top {
  margin-top: 13px; }

#slider {
  height: 600px;
  background-color: #F0EFEE;
  position: relative;
  margin-bottom: 50px; }
  #slider img {
    position: absolute;
    top: -41px;
    left: -374px; }
  #slider .price-slider {
    margin-top: 133px;
    font-size: 30px;
    color: #633231; }
  #slider h2 {
    margin-top: 18px;
    font-family: 'truenoultrablack';
    font-size: 70px;
    color: #633231; }
  #slider .variants {
    margin-top: 24px;
    font-family: 'truenoultrablack';
    font-size: 50px;
    color: #ff7270; }
  #slider .disc {
    margin-top: 36px;
    color: #8a8784; }
  #slider a {
    display: inline-block;
    margin-top: 34px;
    padding: 15px 47px;
    background-color: #ff7270;
    font-family: 'truenobold';
    text-transform: uppercase;
    position: relative;
    top: 0px;
    left: 0px;
    -webkit-transition: all 300ms;
    transition: all 300ms; }
    #slider a:hover {
      -webkit-box-shadow: 2px 2px 0px white, 4px 4px 0px #ff7270;
              box-shadow: 2px 2px 0px white, 4px 4px 0px #ff7270;
      top: -4px;
      left: -4px;
      -webkit-transition: all 300ms;
      transition: all 300ms; }
    #slider a:active {
      top: 4px;
      left: 4px;
      -webkit-box-shadow: 0px 0px 0px white;
              box-shadow: 0px 0px 0px white; }

#arrival-left {
  text-align: center;
  font-size: 30px;
  background: url("../img/intro/nike-kyrie-logo.png") 38px 23px no-repeat; }
  #arrival-left img {
    position: absolute;
    z-index: -1;
    display: block; }
  #arrival-left p {
    color: #fff;
    margin: 44px 0 10px 0; }
  #arrival-left h3 {
    color: #4bd8cd;
    font-family: 'truenobold';
    text-transform: uppercase;
    margin-bottom: 337px; }
  #arrival-left .myButt {
    outline: none;
    border: none;
    padding: 14px 26px;
    font-size: 16px;
    background-color: #4bd8cd;
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    #arrival-left .myButt a {
      color: #000;
      text-transform: uppercase;
      font-family: 'truenobold'; }
  #arrival-left .one {
    overflow: hidden;
    color: #000; }
    #arrival-left .one .insider {
      background-color: #fff;
      width: 100%;
      height: 20px;
      position: absolute;
      left: -163px;
      -webkit-transform: rotateZ(45deg);
          -ms-transform: rotate(45deg);
              transform: rotateZ(45deg); }
    #arrival-left .one:hover {
      background-color: #229b92; }
      #arrival-left .one:hover .insider {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        left: 156px; }

#arrival-right-top .wrap {
  height: 255px;
  font-size: 30px;
  background-color: #ff7270;
  position: relative;
  margin-bottom: 30px; }
  #arrival-right-top .wrap img {
    position: absolute;
    top: -22px;
    left: -11px; }

#arrival-right-top .wrap_2 {
  margin-left: 150px;
  text-align: center;
  font-size: 30px;
  color: #fff; }
  #arrival-right-top .wrap_2 p {
    padding-top: 59px; }
  #arrival-right-top .wrap_2 h3 {
    font-family: 'truenobold';
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 9px;
    padding-bottom: 20px; }
  #arrival-right-top .wrap_2 .myButt2 {
    outline: none;
    border: none;
    padding: 14px 30px;
    font-size: 16px;
    background-color: #633231;
    position: relative;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    #arrival-right-top .wrap_2 .myButt2 a {
      text-transform: uppercase;
      font-family: 'truenobold'; }
  #arrival-right-top .wrap_2 .two {
    overflow: hidden;
    color: #000; }
    #arrival-right-top .wrap_2 .two .insider {
      background-color: #fff;
      width: 100%;
      height: 20px;
      position: absolute;
      left: -163px;
      -webkit-transform: rotateZ(45deg);
          -ms-transform: rotate(45deg);
              transform: rotateZ(45deg); }
    #arrival-right-top .wrap_2 .two:hover {
      background-color: #522929; }
      #arrival-right-top .wrap_2 .two:hover .insider {
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        left: 156px; }

.wrap_3 {
  height: 255px;
  background-color: #2d2f2e;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .wrap_3:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .wrap_3 img {
    position: absolute;
    width: 100%;
    max-width: 255px; }
  .wrap_3 p {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding-top: 146px; }
  .wrap_3 h3 {
    position: relative;
    color: #fff;
    text-align: center;
    padding-top: 8px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'truenobold'; }
    .wrap_3 h3 a {
      color: #ff7270; }

.wrap_4 {
  height: 255px;
  background-color: #CECECE;
  position: relative;
  margin-bottom: 100px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  .wrap_4:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .wrap_4 img {
    position: absolute;
    width: 100%;
    max-width: 255px;
    bottom: 0; }
  .wrap_4 p {
    position: relative;
    text-align: center;
    font-size: 30px;
    padding-top: 34px; }
    .wrap_4 p a {
      color: #6b7072; }
  .wrap_4 h3 {
    position: relative;
    color: #fff;
    text-align: center;
    padding-top: 8px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'truenobold'; }

#categories {
  text-align: center;
  margin-bottom: 50px; }
  #categories a {
    font-size: 30px;
    text-transform: uppercase;
    color: #bdb9b5;
    padding: 0 15px; }
    #categories a.active, #categories a:active, #categories a:focus {
      color: #623232;
      font-family: 'truenobold';
      padding: 0 14px; }
    #categories a:hover {
      color: #ff7270; }

.wrap-products {
  height: 350px;
  border: 1px solid #e0dfde;
  position: relative;
  margin-bottom: 83px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out; }
  .wrap-products:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 6px 20px;
            box-shadow: rgba(0, 0, 0, 0.15) 0 6px 20px;
    top: -3px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out; }
  .wrap-products .discount {
    position: absolute;
    right: 0;
    top: 25px;
    color: #fff;
    font-family: 'truenobold';
    padding: 2px 10px;
    background-color: #ff7270;
    z-index: 10; }
  .wrap-products .products {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 28px auto 0 auto;
    cursor: pointer; }
    .wrap-products .products img {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      z-index: -1; }
    .wrap-products .products .prod-price {
      color: #8a8784;
      font-size: 24px; }
    .wrap-products .products #prod-price {
      color: #ff7270; }
    .wrap-products .products .old-price {
      color: #8a8784;
      text-decoration: line-through; }
  .wrap-products .descr {
    position: absolute;
    left: 29px;
    bottom: 23px; }
    .wrap-products .descr .head {
      font-family: 'truenobold';
      color: #8a8784;
      cursor: pointer; }
    .wrap-products .descr .model {
      color: #8a8784;
      text-transform: capitalize;
      cursor: pointer; }
    .wrap-products .descr .article {
      color: #bdb9b5;
      font-size: 13px; }

#owl {
  margin-bottom: 100px; }
  #owl .mid {
    text-align: center; }
  #owl img {
    width: inherit;
    display: inline-block; }
