@font-face {
  font-family: 'truenobold';
  src: url("../fonts/truenobd-webfont.eot");
  src: url("../fonts/truenobd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/truenobd-webfont.woff2") format("woff2"), url("../fonts/truenobd-webfont.woff") format("woff"), url("../fonts/truenobd-webfont.ttf") format("truetype"), url("../fonts/truenobd-webfont.svg#truenobold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'truenolight';
  src: url("../fonts/truenolt-webfont.eot");
  src: url("../fonts/truenolt-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/truenolt-webfont.woff2") format("woff2"), url("../fonts/truenolt-webfont.woff") format("woff"), url("../fonts/truenolt-webfont.ttf") format("truetype"), url("../fonts/truenolt-webfont.svg#truenolight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'truenoultrablack';
  src: url("../fonts/truenoultblk-webfont.eot");
  src: url("../fonts/truenoultblk-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/truenoultblk-webfont.woff2") format("woff2"), url("../fonts/truenoultblk-webfont.woff") format("woff"), url("../fonts/truenoultblk-webfont.ttf") format("truetype"), url("../fonts/truenoultblk-webfont.svg#truenoultrablack") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'truenolight', sans-serif;
  line-height: 26px;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: 0;
  margin: 0; }

ul, li {
  list-style-type: none; }

a {
  color: #fff; }
  a:hover, a:focus, a:visited {
    text-decoration: none;
    color: #fff; }

section {
  position: relative;
  margin-bottom: 20px; }

.my_btn {
  outline: none;
  border: none;
  padding: 14px 30px;
  font-size: 16px;
  background-color: #623232;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .my_btn a {
    text-transform: uppercase;
    font-family: 'truenobold'; }

.one {
  overflow: hidden;
  color: #000; }
  .one .insider {
    background-color: #fff;
    width: 100%;
    height: 20px;
    position: absolute;
    left: -163px;
    -webkit-transform: rotateZ(45deg);
        -ms-transform: rotate(45deg);
            transform: rotateZ(45deg); }
  .one:hover {
    background-color: #512929; }
    .one:hover .insider {
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease;
      left: 156px; }

#paddin {
  padding-left: 0; }
  @media (max-width: 767px) {
    #paddin {
      padding-right: 0;
      padding-left: 15px; } }
  #paddin .navbar-toggle-my {
    border-color: #ddd;
    float: left; }
    #paddin .navbar-toggle-my .icon-bar {
      background-color: #888; }

#top_bg_color {
  background-color: #472424;
  min-height: 50px;
  font-size: 13px; }

.top_nav_left ul {
  text-align: center; }
  .top_nav_left ul li {
    display: inline-block;
    line-height: 50px;
    padding: 0 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .top_nav_left ul li:hover {
      background-color: #ff7270;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    @media (max-width: 992px) {
      .top_nav_left ul li {
        padding: 0 15px; } }
    @media (max-width: 448px) {
      .top_nav_left ul li {
        display: block;
        line-height: 35px; } }
  .top_nav_left ul .login {
    display: none; }
    @media (max-width: 448px) {
      .top_nav_left ul .login {
        display: block; } }

.floa_right {
  float: right; }

.top_nav_right {
  line-height: 50px;
  float: right; }
  @media (max-width: 767px) {
    .top_nav_right {
      padding-right: 0; } }
  .top_nav_right img {
    top: 50%;
    margin-top: -10px; }
    .top_nav_right img:hover {
      cursor: pointer; }
  .top_nav_right .price {
    color: #fff;
    margin-left: 10px; }
  .top_nav_right .quantity {
    color: #dcc5b8;
    margin-right: 21px; }
  .top_nav_right #borde-left {
    border-left: 1px solid #593938; }
  .top_nav_right p {
    display: inline-block;
    padding: 0 20px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .top_nav_right p:hover {
      background-color: #ff7270;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    @media (max-width: 992px) {
      .top_nav_right p {
        padding: 0 15px; } }
    @media (max-width: 448px) {
      .top_nav_right p {
        display: none; } }

nav.navbar-default {
  background-color: #623232;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  min-height: 76px;
  margin-bottom: 0; }
  @media (max-width: 768px) {
    nav.navbar-default {
      min-height: 0; } }
  nav.navbar-default h1 a.navbar-brand {
    padding-top: 20px; }
    @media (max-width: 767px) {
      nav.navbar-default h1 a.navbar-brand {
        padding: 9px 15px; } }
  nav.navbar-default .navbar-nav li a, nav.navbar-default .navbar-nav li.active a {
    background-color: transparent;
    color: #fff;
    padding-bottom: 0;
    padding-top: 28px; }
    nav.navbar-default .navbar-nav li a::after, nav.navbar-default .navbar-nav li.active a::after {
      content: '';
      display: block;
      height: 4px;
      background-color: #ff7270;
      margin-top: 24px;
      width: 0;
      -webkit-transition: all ease-in-out 250ms;
      transition: all ease-in-out 250ms; }
    nav.navbar-default .navbar-nav li a:hover, nav.navbar-default .navbar-nav li a:active, nav.navbar-default .navbar-nav li a:focus, nav.navbar-default .navbar-nav li.active a:hover, nav.navbar-default .navbar-nav li.active a:active, nav.navbar-default .navbar-nav li.active a:focus {
      color: #ff7270;
      background-color: transparent; }
    nav.navbar-default .navbar-nav li a:hover::after, nav.navbar-default .navbar-nav li a:focus::after, nav.navbar-default .navbar-nav li.active a:hover::after, nav.navbar-default .navbar-nav li.active a:focus::after {
      width: 100%; }
    @media (max-width: 992px) {
      nav.navbar-default .navbar-nav li a, nav.navbar-default .navbar-nav li.active a {
        padding-left: 9px;
        padding-right: 9px; } }
    @media (max-width: 767px) {
      nav.navbar-default .navbar-nav li a, nav.navbar-default .navbar-nav li.active a {
        padding-top: 0;
        text-align: center; } }

#slider {
  height: 600px;
  background-color: #F0EFEE;
  position: relative;
  margin-bottom: 50px; }
  @media (max-width: 768px) {
    #slider {
      height: 448px; } }
  #slider img {
    position: absolute;
    top: -41px;
    left: -374px; }
    @media (max-width: 1199px) {
      #slider img {
        opacity: 0.3; } }
    @media (max-width: 992px) {
      #slider img {
        left: -109px; } }
    @media (max-width: 768px) {
      #slider img {
        display: none; } }
  #slider .price-slider {
    margin-top: 133px;
    font-size: 30px;
    color: #623232; }
    @media (max-width: 768px) {
      #slider .price-slider {
        margin-top: 40px; } }
  #slider h2 {
    margin-top: 18px;
    font-family: 'truenoultrablack';
    font-size: 70px;
    color: #623232; }
    @media (max-width: 534px) {
      #slider h2 {
        font-size: 50px; } }
  #slider .variants {
    margin-top: 24px;
    font-family: 'truenoultrablack';
    font-size: 50px;
    color: #ff7270; }
    @media (max-width: 534px) {
      #slider .variants {
        font-size: 30px;
        margin-top: 11px; } }
  #slider .disc {
    margin-top: 36px;
    color: #8a8784; }
    @media (max-width: 534px) {
      #slider .disc {
        margin-top: 20px; } }
  #slider a {
    display: inline-block;
    margin-top: 34px;
    padding: 15px 47px;
    background-color: #ff7270;
    font-family: 'truenobold';
    text-transform: uppercase;
    position: relative;
    top: 0px;
    left: 0px;
    -webkit-transition: all 300ms;
    transition: all 300ms; }
    #slider a:hover {
      -webkit-box-shadow: 2px 2px 0px white, 4px 4px 0px #ff7270;
              box-shadow: 2px 2px 0px white, 4px 4px 0px #ff7270;
      top: -4px;
      left: -4px;
      -webkit-transition: all 300ms;
      transition: all 300ms; }
    #slider a:active {
      top: 4px;
      left: 4px;
      -webkit-box-shadow: 0px 0px 0px white;
              box-shadow: 0px 0px 0px white; }
    @media (max-width: 534px) {
      #slider a {
        margin-top: 20px; } }

@media (max-width: 992px) {
  #slider-right {
    text-align: center; } }

#arrival-left {
  text-align: center;
  font-size: 30px;
  position: relative; }
  @media (max-width: 1199px) {
    #arrival-left {
      margin-bottom: 73px; } }
  @media (max-width: 587px) {
    #arrival-left {
      height: 320px;
      width: 320px;
      margin-bottom: 0;
      float: none;
      margin: 0 auto; } }
  #arrival-left img {
    position: absolute;
    z-index: -1;
    display: block; }
    @media (max-width: 1199px) {
      #arrival-left img {
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); } }
    @media (max-width: 587px) {
      #arrival-left img {
        width: 100%;
        padding: 0 15px; } }
  #arrival-left p {
    color: #fff;
    margin: 44px 0 10px 0; }
    @media (max-width: 587px) {
      #arrival-left p {
        margin: -15px 0 10px 0;
        padding-top: 163px; } }
  #arrival-left h3 {
    color: #4bd8cd;
    font-family: 'truenobold';
    text-transform: uppercase;
    margin-bottom: 337px; }
    @media (max-width: 587px) {
      #arrival-left h3 {
        margin-bottom: 0; } }
  #arrival-left .my_btn {
    background-color: #4bd8cd; }
    #arrival-left .my_btn a {
      color: #000; }
  #arrival-left .one:hover {
    background-color: #229b92; }

#arrival-right-top .wrap {
  height: 255px;
  font-size: 30px;
  background-color: #ff7270;
  position: relative;
  margin-bottom: 30px; }
  @media (max-width: 1199px) {
    #arrival-right-top .wrap {
      margin: 0 auto;
      width: 540px;
      margin-bottom: 30px; } }
  @media (max-width: 587px) {
    #arrival-right-top .wrap {
      width: 290px; } }
  #arrival-right-top .wrap img {
    position: absolute;
    top: -22px;
    left: -11px; }

#arrival-right-top .wrap_2 {
  margin-left: 150px;
  text-align: center;
  font-size: 30px;
  color: #fff; }
  @media (max-width: 587px) {
    #arrival-right-top .wrap_2 {
      margin-left: 0; } }
  #arrival-right-top .wrap_2 p {
    padding-top: 59px;
    position: relative; }
  #arrival-right-top .wrap_2 h3 {
    font-family: 'truenobold';
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 9px;
    padding-bottom: 20px;
    position: relative; }

.wrap_3 {
  height: 255px;
  background-color: #2d2f2e;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  @media (max-width: 1199px) {
    .wrap_3 {
      margin-left: auto;
      width: 255px;
      margin-bottom: 30px; } }
  .wrap_3:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .wrap_3 img {
    position: absolute;
    width: 100%;
    max-width: 255px; }
  .wrap_3 p {
    position: relative;
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding-top: 146px; }
  .wrap_3 h3 {
    position: relative;
    color: #fff;
    text-align: center;
    padding-top: 8px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'truenobold'; }
    .wrap_3 h3 a {
      color: #ff7270; }

.wrap_4 {
  height: 255px;
  background-color: #CECECE;
  position: relative;
  margin-bottom: 100px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  @media (max-width: 1199px) {
    .wrap_4 {
      margin-right: auto;
      width: 255px;
      margin-bottom: 30px; } }
  .wrap_4:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .wrap_4 img {
    position: absolute;
    width: 100%;
    max-width: 255px;
    bottom: 0; }
  .wrap_4 p {
    position: relative;
    text-align: center;
    font-size: 30px;
    padding-top: 34px; }
    .wrap_4 p a {
      color: #6b7072; }
  .wrap_4 h3 {
    position: relative;
    color: #fff;
    text-align: center;
    padding-top: 8px;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'truenobold'; }

@media (max-width: 591px) {
  .col-my {
    width: 100%;
    max-width: 290px;
    margin: 0 auto;
    float: none; } }

#categories {
  text-align: center;
  margin-bottom: 50px; }
  @media (max-width: 591px) {
    #categories {
      margin-bottom: 25px; } }
  #categories a {
    font-size: 30px;
    text-transform: uppercase;
    color: #bdb9b5;
    padding: 0 15px; }
    #categories a.active, #categories a:active, #categories a:focus {
      color: #623232;
      font-family: 'truenobold';
      padding: 0 14px; }
    #categories a:hover {
      color: #ff7270; }
    @media (max-width: 591px) {
      #categories a {
        line-height: 1.3; } }

.wrap-products {
  height: 350px;
  border: 1px solid #e0dfde;
  position: relative;
  margin-bottom: 83px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out; }
  @media (max-width: 992px) {
    .wrap-products {
      margin-bottom: 30px; } }
  .wrap-products:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 6px 20px;
            box-shadow: rgba(0, 0, 0, 0.15) 0 6px 20px;
    top: -3px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out; }
  .wrap-products .discount {
    position: absolute;
    right: 0;
    top: 25px;
    color: #fff;
    font-family: 'truenobold';
    padding: 2px 10px;
    background-color: #ff7270;
    z-index: 10; }
  .wrap-products .products {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 28px auto 0 auto;
    cursor: pointer; }
    .wrap-products .products img {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      z-index: -1; }
    .wrap-products .products .prod-price {
      color: #8a8784;
      font-size: 24px; }
    .wrap-products .products #prod-price {
      color: #ff7270; }
    .wrap-products .products .old-price {
      color: #8a8784;
      text-decoration: line-through; }
  .wrap-products .descr {
    position: absolute;
    left: 29px;
    bottom: 23px; }
    .wrap-products .descr .head {
      font-family: 'truenobold';
      color: #8a8784;
      cursor: pointer; }
    .wrap-products .descr .model {
      color: #8a8784;
      text-transform: capitalize;
      cursor: pointer; }
    .wrap-products .descr .article {
      color: #bdb9b5;
      font-size: 13px; }

#owl {
  margin-bottom: 100px; }
  @media (max-width: 992px) {
    #owl {
      margin-bottom: 50px; } }
  #owl .mid {
    text-align: center;
    height: 68px;
    position: relative; }
  #owl img {
    width: inherit;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  #owl .owl-prev, #owl .owl-next {
    position: absolute;
    top: 20px;
    font-size: 50px;
    color: #ccc;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  #owl .owl-prev {
    left: 15px; }
  #owl .owl-next {
    right: 15px; }

#testimonials-wrap {
  margin: 0 auto 102px auto;
  background: url("../img/testimonials/testimonials_bg.jpg") center bottom no-repeat;
  background-size: cover;
  padding: 0; }
  @media (max-width: 992px) {
    #testimonials-wrap {
      margin: 0 auto 55px auto; } }
  #testimonials-wrap #testimonials_bg {
    min-height: 570px;
    background-color: rgba(72, 36, 35, 0.9); }
  #testimonials-wrap #testimonials-top {
    height: 261px;
    text-align: center;
    font-family: 'truenobold'; }
    #testimonials-wrap #testimonials-top .user-profile {
      display: inline-block;
      margin-top: 102px;
      padding: 0 15px; }
      #testimonials-wrap #testimonials-top .user-profile p {
        margin-top: 20px; }
      #testimonials-wrap #testimonials-top .user-profile p.non-active a {
        color: #A99898; }
      #testimonials-wrap #testimonials-top .user-profile p.active a {
        color: #fff; }
      @media (max-width: 571px) {
        #testimonials-wrap #testimonials-top .user-profile:last-child {
          display: none; } }
      @media (max-width: 418px) {
        #testimonials-wrap #testimonials-top .user-profile:first-child {
          display: none; } }
  #testimonials-wrap #testimonials-bot {
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 47px 52px;
    text-align: center;
    margin-top: 20px; }
    @media (max-width: 992px) {
      #testimonials-wrap #testimonials-bot {
        padding: 23px 52px; } }
    #testimonials-wrap #testimonials-bot::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      border-style: solid;
      border-width: 0 20px 20px 20px;
      border-color: transparent transparent rgba(255, 255, 255, 0.1) transparent; }
      @media (max-width: 1199px) {
        #testimonials-wrap #testimonials-bot::before {
          top: -20px; } }
    #testimonials-wrap #testimonials-bot p {
      color: #fff; }

#latest-news {
  text-align: center;
  margin-bottom: 100px; }
  #latest-news h2 {
    margin-bottom: 50px; }
    #latest-news h2 a {
      font-size: 30px;
      text-transform: uppercase;
      color: #623232;
      font-family: 'truenobold'; }
  @media (max-width: 768px) {
    #latest-news .wrap_news1, #latest-news .wrap_news2 {
      display: none; } }
  @media (max-width: 992px) {
    #latest-news .wrap_news2 {
      display: none; } }
  #latest-news .wrap_news {
    height: 350px;
    background-color: #472424;
    position: relative;
    overflow: hidden; }
    #latest-news .wrap_news img {
      position: absolute;
      height: 350px;
      left: -117px;
      top: 0;
      opacity: 0.5; }
      @media (max-width: 1199px) {
        #latest-news .wrap_news img:nth-of-type(1) {
          left: -166px; } }
    #latest-news .wrap_news .desc-news {
      position: absolute;
      color: #fff;
      text-align: left;
      bottom: 30px;
      left: 30px; }
      #latest-news .wrap_news .desc-news time {
        font-family: 'truenobold'; }
      #latest-news .wrap_news .desc-news span {
        color: #ff7373;
        font-size: 13px;
        display: block;
        margin-left: 27px; }
        #latest-news .wrap_news .desc-news span::before {
          content: "";
          display: block;
          position: absolute;
          width: 20px;
          height: 20px;
          left: 0;
          bottom: 0;
          background: url("../img/icon/comment.png") 0 0 no-repeat; }

@media (max-width: 768px) {
  #wrap_news {
    margin: 0 auto;
    float: none;
    width: 320px; } }

#order {
  min-height: 200px;
  background-color: #ff7270;
  margin-bottom: 0; }
  @media (max-width: 768px) {
    #order {
      text-align: center;
      float: none; } }
  #order h1 {
    font-family: 'truenobold';
    font-size: 30px;
    text-transform: uppercase;
    margin: 73px 0 5px 90px; }
    @media (max-width: 992px) {
      #order h1 {
        margin: 58px 0 5px 90px; } }
    @media (max-width: 768px) {
      #order h1 {
        margin: 58px 0 5px 0; } }
    #order h1::before {
      content: "";
      display: block;
      position: absolute;
      width: 60px;
      height: 42px;
      left: 15px;
      bottom: 10px;
      cursor: pointer;
      background: url("../img/icon/letter.png") 0 0 no-repeat; }
      @media (max-width: 992px) {
        #order h1::before {
          bottom: 28px; } }
      @media (max-width: 768px) {
        #order h1::before {
          display: none; } }
  #order p {
    color: #fff;
    margin-left: 90px; }
    @media (max-width: 768px) {
      #order p {
        margin-left: 0; } }
  #order .my_btn {
    float: right;
    margin-top: 76px; }
    @media (max-width: 767px) {
      #order .my_btn {
        margin: 27px 0 20px 0;
        float: none; } }

footer {
  min-height: 731px;
  background-color: #623232; }
  footer .foot-top {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 45px;
    border-bottom: 1px solid #7A504F; }
    footer .foot-top p {
      color: #fff;
      margin-top: 27px; }
      @media (max-width: 768px) {
        footer .foot-top p {
          margin-bottom: 30px; } }
      @media (max-width: 400px) {
        footer .foot-top p {
          font-size: 13px; } }
    footer .foot-top .last-img {
      margin-bottom: 11px; }
  footer .foot-hov {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    footer .foot-hov:hover {
      border-left: 1px solid #7A504F;
      border-right: 1px solid #7A504F;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      footer .foot-hov:hover a {
        color: #ff7270;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    @media (max-width: 400px) {
      footer .foot-hov {
        width: 50%; } }
  @media (max-width: 489px) {
    footer .my-col-2 {
      width: 100%; } }
  footer .foot-mid {
    padding: 100px 0 100px 0;
    border-bottom: 1px solid #7A504F; }
    @media (max-width: 768px) {
      footer .foot-mid {
        padding: 50px 0 30px 0; } }
    footer .foot-mid .personal-data-icon {
      height: 55px;
      width: 55px;
      background-color: #ff7270;
      margin-bottom: 20px;
      position: relative;
      float: left; }
      footer .foot-mid .personal-data-icon img {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    footer .foot-mid .personal-data {
      padding-bottom: 25px;
      margin-left: 75px; }
      footer .foot-mid .personal-data h3 {
        font-family: 'truenobold';
        font-size: 16px;
        color: #ff7270;
        text-transform: uppercase;
        margin-bottom: 4px;
        padding-top: 7px; }
      footer .foot-mid .personal-data p {
        color: #fff; }
        footer .foot-mid .personal-data p:hover a {
          text-decoration: underline; }
    @media (max-width: 768px) {
      footer .foot-mid .foot-menu {
        display: none; } }
    footer .foot-mid .foot-menu h3 {
      margin-bottom: 10px; }
      footer .foot-mid .foot-menu h3 a {
        font-family: 'truenobold';
        font-size: 16px;
        color: #ff7270;
        text-transform: uppercase; }
        footer .foot-mid .foot-menu h3 a:hover {
          text-decoration: underline; }
    footer .foot-mid .foot-menu li {
      margin-bottom: 11px;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      footer .foot-mid .foot-menu li a {
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease; }
        footer .foot-mid .foot-menu li a:hover {
          text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 4px 4px 8px #e2e2e2, -4px 4px 8px #dedfe0, 4px -4px 8px #dddddd, -4px -4px 8px #d8d8d8;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease; }
  footer .foot-bot {
    text-align: center; }
    footer .foot-bot h1 a {
      padding-top: 23px; }
      @media (max-width: 590px) {
        footer .foot-bot h1 a {
          width: 100%; } }
      @media (max-width: 590px) {
        footer .foot-bot h1 a img {
          display: inline; } }
    footer .foot-bot p {
      color: #fff;
      line-height: 78px;
      text-align: center; }
      @media (max-width: 369px) {
        footer .foot-bot p {
          line-height: 20px;
          margin-top: 70px;
          margin-bottom: 20px; } }
    footer .foot-bot .fa {
      font-size: 25px;
      float: right;
      margin-left: 25px;
      line-height: 78px;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      footer .foot-bot .fa:hover {
        text-shadow: 1px 1px 0 #ff5188, -1px -1px 0 #ff5998, 1px -1px 0 #f4588e, -1px 1px 0 #ff4fa4, 4px 4px 8px #ff447f, -4px 4px 8px #f9137f, 4px -4px 8px #fc2d64, -4px -4px 8px #ff1c54;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease; }
      @media (max-width: 992px) {
        footer .foot-bot .fa {
          float: none; } }
      @media (max-width: 590px) {
        footer .foot-bot .fa {
          line-height: 0;
          padding-bottom: 30px; } }

#accordion {
  display: none; }
  @media (max-width: 768px) {
    #accordion {
      display: block;
      text-align: center; }
      #accordion .panel {
        background-color: transparent;
        border: none; }
      #accordion .panel-body {
        border-top: none; }
      #accordion .panel-heading {
        background-color: transparent; }
        #accordion .panel-heading a {
          font-family: 'truenobold';
          font-size: 16px;
          color: #ff7270;
          text-transform: uppercase;
          margin-bottom: 4px;
          padding-top: 7px; } }
  @media (max-width: 489px) {
    #accordion {
      width: 220%; } }
